.navbarwrapper {
  background-color: aquamarine;
  width: 100%;
  height: 250px;
  background-image: url("../../public/weatherimg.avif");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}
